:root {
    --white: #fff;
    --white1: #e9ecf1;
    --white2: #f9fafb;
    --black: #000;
    --black1: #1b1b1b;
    --gray: #808080;
    --gray1: #4b4a4a;
    --blue1: #0092ec;
    --blue2: #0a74b6;
}

html {
    overflow: hidden;
}

/* Body */
body {
    padding: 2rem .5rem;
    font-family: Helvetica, sans-serif;
    color: var(--white1);
    background-color: var(--black1);
    overflow: hidden;
}

/* Header Title */
header h1 {
    margin: 0 auto;
    padding: 20px;
    color: var(--white);
    text-align: center;
    text-shadow: 4px 4px 5px var(--black);
}

/* Main div container */
.container {
    margin: 0 auto;
    border-radius: 15px;
    padding: 20px;
    max-width: 840px;
    font-weight: bold;
    text-align: center;
    background-color: var(--black1);
    box-shadow: 6px 6px 10px var(--black), 6px 6px 6px rgba(94, 104, 121, .288);
}

/* For the texts that precedes a tooltip */
.text_next_tooltip {
    display: inline-block;
}

/* Result textbox specific non-editable characteristic */
#result {
    pointer-events: none;
}

/* TextBoxes Styling */
.textbox {
    margin: .5rem 0;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: var(--black1);
    max-height: 40px;
    width: 250px;
    outline: none;
    color: var(--white2);
    box-shadow: inset 2px 3px 3px var(--black),
        inset 1.5px 1.5px 3px var(--black1);
}

/* Calculate Button */
.button {
    display: block;
    margin: .5rem auto;
    border: none;
    border-radius: 10px;
    padding: .5rem 1rem;
    background-color: var(--blue2);
    color: var(--white);
    font-family: Helvetica, sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    box-shadow: 2px 3px 3px var(--black), 1.5px 1.5px 3px rgba(94, 104, 121, .5);
    cursor: pointer;
    transition: background-color .3s ease-out;
}

.button:hover {
    background-color: var(--blue1);
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    /* If you want dots under the hoverable text */
    border-bottom: 1px dotted var(--white2);
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: #555;
    color: var(--white);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 24%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 2rem;
    width: 100%;
    font-size: 1.25rem;
    text-align: center;
}